@model List<Kurse>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Alle Kurse</h2>
@foreach (Kurse kurse in Model)
{
	<p>@kurse.Kursname</p>
}