<h2>Einloggen</h2>

<form asp-action="UserAnmelden" method="post">
	Username: <input type="text" name="username" />
	<br />
	Passwort: <input type="password" name="passwort" />
	<br />
	<button type="submit">Anmelden</button>
</form>